@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background: #343840;
}
.container{
    min-height: calc(100vh - 40px * 2);
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.login{
    padding: 70px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
}
.login-header{
    margin-bottom: 50px;
}
.login-header h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.login-header p{
    opacity: .7;
}
.login-form{
    width: 200px;
}
.login-form-content{
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.form-item label:not(.checkboxLabel){
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 10px;
}
input{
    border: 1px solid black;
    height: 30px; 
    padding: 0 1rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    border-radius: 100px;
}
.checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}
input[type='checkbox']{
    width:20px;
    height: 20px;
    accent-color: rgb(51, 121, 221);
}
button{
    border:none;
    background: rgb(51, 121, 221);
    color: white;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
    height: 30px;
    cursor: pointer;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
@media screen and (max-width: 481px) {
    .container{
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .login{
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        z-index: 1;
    }
    .login-header{
        margin-bottom: 50px;
    }
    .login-header h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .login-header p{
        opacity: .7;
    }
    .login-form{
        width: 100%;
    }
    .login-form-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

}